<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>yeahh</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            display: flex;
            width: 100vw;
            height: 100vh;
            justify-content: center;
            align-items: center;
            flex-direction: column;
        }

        button {
            padding: 10px;
            font-size: 18px;
            background-color: beige;
            border-radius: 10px;
            box-shadow: 0px 10px 18px black;
        }

        button:active {
            transform: translatey(5px);
            box-shadow: 0px 5px 18px black;
        }
    </style>
</head>

<body>
    <button id="btn">Click </button>
    <script type="module" src="script.js"></script>
</body>

</html>