body{
    margin: 0;
    padding: 0;
}

ul{
    display: flex;
    gap: 5px;
    background-color: antiquewhite;
    margin: 0;
    padding: 20px;
    list-style-type: none;
}
li{
    margin: 0px 15px;
}